.div_pai_alunos {
padding: 20px;

display: block;
max-height: 50em; 
}

label {
	color: #045FB4;
}


.teste {
padding: 20px;


}

 .corpo {
 background-image: url(./img/back.jpg);
 background-position: center; 
 background-position: 25% 75%;
}